body{
    /* background-color: rgb(138, 181, 219); */
    margin: 0;
    padding: 150px 0px 0px 600px;
    /* justify-content: center; */
}

.main{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* background: transparent; */
    padding:18px 0px 18px 70px;
    justify-self: center;
    align-items: center;
    align-content: center;
    border-radius: 20px;
    height: 300px;
    width: 250px;
    background-color:rgb(255, 255, 255);
}

.button{
    width: 70%;
    color: rgb(255, 255, 255);
    border-radius: 14px;
    background-color: rgb(58, 226, 63);
    padding: 9px 19px 9px 19px;
    border: green;
    align-content: center;
    justify-content: center;
}

h1{
    text-align: center;
    padding-right: 90px;
}


/* ---------------------------------------------------------------------------- */

.registration{
    color: white;
    justify-content: center;
    padding:20px 0px 40px 70px;
    width: 30%;
    border-radius: 14px;
    background: transparent;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    
    
}
